<div class="back-img">
<div class="container">
    <div id='user-profile-section'>
      <div class="col-md-3">
        <div class="center">
              <% unless @user.avatar.blank? %>
                <%= image_tag @user.avatar, class: "avatar-full", id:"profile-pic"%>
              <%end%>     
          <% if current_user != @user %>
            <div class="row-space-2">
              <%= link_to "Send Message", conversations_path(sender_id: current_user.id, recipient_id: @user.id), method: 'post', class: "btn btn-primary wide" %>
            </div>
          <% end %>
        </div><br>

        <div class="panel panel-default">
          <div class="panel-heading"></div> 
          <div class="panel-body">
            Total Past Events: <%= @past_events.length %><br>
            Total Upcoming Events: <%= @upcoming_events.length %><br><br>
            To see ratings on events by this host, please scroll to the bottom.<br><br>
            To join an event hosted by <%= @user.first_name%>, please click on a link of upcoming events.
          </div>
        </div>
      </div>

      <div class="col-md-9">
        <h3><%= @user.first_name %> <%= @user.last_name %></h3>


        <div class="description row-space-3">
            <strong>Family description:</strong><br> <%= @user.family_description%><br>
            <strong>Child :</strong> Amy, 9 years old<br> 
            <strong>Child :</strong> Michael, 7 years old<br> 
        </div><br><br>

        <h4>Past Events (<%= @past_events.length %>)</h4><br>
        <div class="row">
          <% @past_events.each do |event| %>
            <div class="col-md-4">
              <div class="panel panel-default">
                <div class="panel-heading preview">
                    <% if event.event_pic.present? %>
                      <%= link_to (image_tag event.event_pic[0].url(:large), class: "show-pic"), event %>
                    <% end %>
                </div>
                <div class="panel-body">
                  <div class="t-cent">
                    <strong><%= "#{event.title.upcase}" %></strong> 
                  </div>           
                </div>
              </div>
            </div>
          <% end %>
        </div><br>

        <h4>Upcoming Events (<%= @upcoming_events.length %>)</h4><br>
        <div class="row">
          <% @upcoming_events.each do |event| %>
            <div class="col-md-4">
              <div class="panel panel-default">
                <div class="panel-heading preview">
                    <% if event.event_pic.present? %>
                      <%= link_to (image_tag event.event_pic[0].url(:large), class: "show-pic"), event %>
                    <% end %>
                </div>
                <div class="panel-body">
                  <div class="t-cent">
                    <strong><%= "#{event.title.upcase}" %></strong><br>

                    <% if event.price == nil %>
                      <strong><%= "FREE" %></strong>
                    <% else %>
                      <strong>RM<%= "#{event.price}" %></strong>   
                    <% end %>   
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
  </div>


      <button class="btn btn-primary" id="review_user_button">Review Event</button>

      <div class="container">

        <%= form_for @review, :html => {:id => "review_form"} do |form| %>
        <div class="text-field">
          <%= form.label :"Event Title" %>
          <%= form.text_field :event_title, type: 'text', :required => true, class: 'form-control' %>
        </div>

        <div id="user_stars"></div>

        <div class="text-field">
          <%= form.label :"Comments" %>
          <%= form.text_area :comment, type: 'text', :required => true, class: 'form-control' %>
        </div>

        <%= hidden_field_tag(:user_id, @user.id)%>
        <%= form.submit "Submit Review", class: "btn btn-primary" %>

        <% end %>


        <script>
          $('#user_stars').raty({
            path: '/assets',
            scoreName: 'review[score]',
            score: 1
          });

        </script>


      </div>
      <br><br><strong><p>Reviews from participants:</p></strong>
      <% @user.reviews.order('created_at DESC').each do |review| %>
        <div class="container"><br>
          <div class="rate-result">
            <div id="stars_<%= review.id %>"></div>
              <strong>Event Title: </strong> <%= review.event_title %>
              <p><em>Reviewed By:<%= @user.first_name %></em></p> 
              <h4><em>"<%= review.comment %>"</em><h4>
          </div>
        </div>
        
        <script>
          $('#stars_<%= review.id %>').raty({
            path: '/assets',
            readOnly: true,
            score: <%= review.score %>
          });
        </script>
      <% end %>

</div>


