    <!-- Header -->
    <header>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
               <!--  <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li> -->
              </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <div class="carousel-content carousel-headline">
        <h2>The easiest way to find fun activities and partners to share it with! </h2>
      </div>
      <div class="carousel-caption">
        <h3></h3>
      </div>
      <img src="assets/about/Kids_inspiration1.jpg" alt="Kids activities inspiration">
    </div>

    <div class="item">
      <img src="assets/about/cake_kids.jpg" alt="Chania">
    </div>

   <!--  <div class="item">
      <img src="img_flower.jpg" alt="Flower">
    </div>

    <div class="item">
      <img src="img_flower2.jpg" alt="Flower">
    </div>
 -->  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
        <!-- <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">A platform for kids to find activities and partners to share it with!</div>
                <div class="intro-heading">Kampy</div>
                <a href="#services" class="page-scroll btn btn-xl">Tell Me More</a>
            </div>
        </div> -->
    </header>


    <!-- Services Section -->
    <!-- <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">E-Commerce</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Responsive Design</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Web Security</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
            </div>
        </div>
    </section> -->

    <!--  Carousel Section -->

    <!-- Portfolio Grid Section -->
    <section id="portfolio" >
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading" style="font-family: Montserrat;">What are kids up to in your area?</h2>
                    <h3 class="section-subheading text-muted">Discover and join other kids to play with!</h3>
                </div>
            </div>

            <% @events.each_slice(4) do |events| %>

                <div class="row">
                    <% events.each do |event| %>
                    <%= render :partial => "show", :locals => { :event => event }  %>

                        <div class="col-md-3 col-sm-6 portfolio-item ">
                            <a href="#modal_<%= event.id %>" class="portfolio-link" data-toggle="modal">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content">
                                        <i class="fa fa-plus fa-3x"></i>
                                    </div>
                                </div>

                                <img src= "<%= event.event_pic[0].url()%>" class="img-responsive featured-image" alt="">
                                  <% if event.price %>
                                    <div class="ribbon red"><span><%=event.price.round%> MYR</span></div>
                                  <% else event.isfree %>
                                    <div class="ribbon"><span>FREE</span></div>
                                <%end%>
                            </a>
                            <div class="portfolio-caption1">
                                <h5><%= event.title%></h5>
                                <h5><%= event.start_date%></h5>
                               <!--  <p class="text-muted">< %= category_name%></p> -->
                            </div>
                        </div>
                    <% end %>
                </div>
            <% end %>

        </div>
    </section>
    <%if !@suggestions.nil?%>
        <section id="suggestion" class="bg-orange">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading" style="font-family: Montserrat;">Featured activities available around you</h2>
                        <h3 class="section-subheading text-muted">If you prefer regular classes, see what's available nearby</h3>
                    </div>
                </div>

                <% @suggestions.each_slice(4) do |events| %>

                    <div class="row">
                        <% events.each do |event| %>
                        <%= render :partial => "show", :locals => { :event => event }  %>

                            <div class="col-md-3 col-sm-6 suggestion-item ">
                                <a href="#modal_<%= event.id %>" class="suggestion-link" data-toggle="modal">
                                    <div class="suggestion-hover">
                                        <div class="suggestion-hover-content">
                                            <i class="fa fa-plus fa-3x"></i>
                                        </div>
                                    </div>

                                    <img src= "<%= event.event_pic[0].url()%>" class="img-responsive featured-image" alt="">
                                      <% if event.price %>
                                        <div class="ribbon red"><span><%=event.price.round%> MYR</span></div>
                                      <% else event.isfree %>
                                        <div class="ribbon"><span>FREE</span></div>
                                    <%end%>
                                </a>
                                <div class="suggestion-caption">
                                    <h5><%= event.title%></h5>
                                    <h5><%= event.price.round%> MYR per lesson</h5>
                                   <!--  <p class="text-muted">< %= category_name%></p> -->
                                </div>
                            </div>
                        <% end %>
                    </div>
                <% end %>

            </div>
        </section>
    <%end%>



    <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading" style="font-family: Montserrat;">Be inspired by others and meet them!</h2>
                    <h3 class="section-subheading text-muted">The easiest way to find fun activities and partners to share it with!</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <!-- <h4>Get
                                    <br>Inspired
                                    <br>By Others!</h4> -->
                                <img class="img-circle img-responsive" src="assets/about/parent-thinking.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                  <h3>Be inspired</h3>
                                    <h4 class="subheading">Wondering what to do with your kids?</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"><strong>Kampy</strong> is an amazing source of inspiration fuelled by its members and partners. There are litterally hundreds of activities to choose from, you just have to <strong>choose one!</strong></p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="assets/about/Happy-Family-1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                  <h3>Socialize!</h3>
                                    <h4 class="subheading">Meet other parents and children by sharing their activities</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Using <strong>Kampy</strong> ,you can join other families and make new friends everytime! No more introduction needed to join playgroups, be open to all!</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="assets/about/kid_fishing.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3>Learn and share</h3>
                                    <h4 class="subheading">Get new Super Powers from others families</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">No need to know how to fish to teach it to your kids, just use <strong>Kampy</strong> and find a family to join on a wonderful fishing day!<br>
                                    And you know what?  It works for anything, let your kids start kiting, baking or even playing chess now!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="assets/about/itsplaytime.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3>Plan and prepare</h3>
                                    <h4 class="subheading">Be ready for the next holiday or week end</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Your children will love you for planning their free time so well!  And this means a lot for <strong>Kampy's</strong> team. From now on, you have a world of new opportunities to share amazing moments with your kids !</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>SPREAD
                                    <br>THE
                                    <br>WORD!</h4>
                            </div>
                        </li>
                    </ul>
                    <div class="row">

            </div>
                </div>
            </div>
        </div>
    </section>
<section>
  <div class= container-fluid>
     <div class="col-lg-12 text-center">
        <h2 class="section-heading" style="font-family: Montserrat;">Our Amazing Team</h2>
        <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
    </div>

      <div id="geolocation" style='width: 100%; height: 500px;'></div>

  </div>

</section>





    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; Kampy 2016</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- Portfolio Modals -->
    <!-- Use the modals below to showcase details about your portfolio projects! -->

    <!-- Portfolio Modal 1 -->






    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Theme JavaScript -->
    <script src="js/agency.min.js"></script>




<%= javascript_tag do%>
  var handler = Gmaps.build('Google');
  map = handler.buildMap({ provider: { scrollwheel: false, zoomControl: false }, internal: {id: 'geolocation'} }, function(){
    // be aware chrome >= 50 requires https for geolocation to work
    if(navigator.geolocation)
      navigator.geolocation.getCurrentPosition(displayOnMap);
  });
  function displayOnMap(position){
    var new_array = gon.hashhh
    $infoWindow = {lat: position.coords.latitude, lng: position.coords.longitude, infowindow: "You are here"}
    new_array.push($infoWindow)
    var markers = handler.addMarkers(new_array);
    // handler.bounds.extendWith(markers);
    // handler.fitMapToBounds(markers);
    handler.map.centerOn(new_array[new_array.length - 1]);
    handler.getMap().setZoom(14);
  };
<% end %>
